<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css"/>
    <title>Codename Scott</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/starter-template.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Codename Scott</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Aanvraag</a></li>
            <li><a href="#contact">FAQ</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Omgeving aanvragen</h1>
        <p class="lead">Gebruik het onderstaande formulier om een omgeving aan te vragen.</p>
        <div ng-controller="Aanvragen">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Applicatienaam</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="aanvraag.applicatienaam" id="applicatienaam" placeholder="Applicatienaam">
              </div>
            </div>
            <div class="form-group">
              <label for="selectTemplate" class="col-sm-2 control-label">Applicatieserver</label>
              <div class="col-sm-10">
          <select class="form-control" ng-model="aanvraag.applicatieserver" id="applicatieserver">
            <option>jetty</option>
            <option>websphere</option>
          </select>
            </div>
            </div>
            <div class="form-group">
              <label for="selectTemplate" class="col-sm-2 control-label">Template</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="aanvraag.template" id="template">
                  <option>xsmall</option>
                  <option>small</option>
                  <option>medium</option>
                  <option>large</option>
                  <option>xlarge</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="submitaanvraag()" class="btn btn-default">Verstuur</button>
              </div>
            </div>
          </form>
<pre>form = {{aanvraag | json}}</pre>
        </div> 
      </div>
<div>Angular seed app: v<span app-version></span></div>


    </div><!-- /.container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resources.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>

